<h4>Edit Title</h4>

<label>Artist:</label>
<input [(ngModel)]="selectedTitle.artist">
<br>

<label>Title:</label>
<input [(ngModel)]="selectedTitle.title">
<br>

<label>Description:</label>
<input [(ngModel)]="selectedTitle.description">
<br>

<label>Formats</label>
<input [(ngModel)]="selectedTitle.formats">
<br>

<label>Average Price</label>
<input [(ngModel)]="selectedTitle.averagePrice">

<button (click)="beginUpdatingTitle(selectedTitle)">Update</button>
<hr>
<button (click)="beginDeletingTitle(selectedTitle)">Delete</button>
