<h3>Add new title to Budget Black Metal</h3>
<div>
  <div>
    <label>Artist</label>
    <input #newArtist>
  </div>
  <div>
    <label>Title</label>
    <input #newTitle>
  </div>
  <div>
    <label>Description</label>
    <input #newDescription>
  </div>
  <div>
    <label>Available Formats</label>
    <input #newFormats>
  </div>
  <div>
    <label>Average Price Range, ie: $10-15</label>
    <input #newPrice>
  </div>
  <button (click)="submitForm(newArtist.value, newTitle.value, newDescription.value, newFormats.value, newPrice.value); newArtist.value=''; newTitle.value=''; newDescription.value=''; newArtist.value=''; newPrice.value='';">Add</button>
</div>
